# Local Working Docs
.local/

# npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test / Coverage Output
coverage/
.nyc_output/

# Deploy bundle output (.project/package-deploy.js)
.project/deploy/

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~
